<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Name" value="Иван Тестович"/>
    <add key="IncorrectName" value="12345"/>
    <add key="Phone" value="+1(555)555-55-55"/>
    <add key="City" value="Минск"/>
    <add key="IncorrectCity" value="12345"/>
    <add key="DateFrom" value="01/01/2020"/>
    <add key="DateTo" value="02/01/2020"/>
    <add key="IncorrectDateFrom" value="21/10/2019"/>    
    <add key="IncorrectDateTo" value="20/10/2019"/>
  </appSettings>
</configuration>